---
import Layout from '../layouts/Layout.astro';
import Greeting from '../components/Greeting.jsx';
---

<Layout title="Welcome to Astro.">
    <div class="text-red-500">Home</div>
    <Greeting client:load messages={['Hi', 'Hello', 'Howdy', 'Hey there']} />
</Layout>

<style></style>
