---

---

<div class="w-auto block ml-[5em] static">
    <a
        class="inline-block text-center py-5 px-4 text-xl font-bold uppercase hover:bg-[#ff9776] focus:bg-[#ff9776]"
        href="/">Home</a
    >
    <a
        class="inline-block text-center py-5 px-4 text-xl font-bold uppercase hover:bg-[#ff9776] focus:bg-[#ff9776]"
        href="/about/">About</a
    >
    <a
        class="inline-block text-center py-5 px-4 text-xl font-bold uppercase hover:bg-[#ff9776] focus:bg-[#ff9776]"
        href="/blog/">Blog</a
    >
    <a
        class="inline-block text-center py-5 px-4 text-xl font-bold uppercase hover:bg-[#ff9776] focus:bg-[#ff9776]"
        href="/tags/">Tags</a
    >
</div>
